@mixin card-style {
  border: none;
  background-color: $card-bg;
  backdrop-filter: blur(5px);
  padding: 1rem;
  gap: 0.5rem;
  border-radius: $border-radius / 1.5;

  @media screen and (min-width: $size-tablet) {
    border-radius: $border-radius;
    padding: 1.5rem;
    gap: 1rem;
    // Card layout for tablet and desktop
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 80, 0.3);
  }
}

@mixin climate-dot {
  z-index: 5;
  font-size: 1rem;
  @media screen and (min-width: $size-tablet) {
    font-size: 1.5rem;
  }

  &.green {
    color: #0ecb92;
  }
  &.yellow {
    color: #f3e11d;
  }
  &.orange {
    color: rgb(255, 174, 0);
  }
  &.red {
    color: #d82607;
  }
  &.none {
    display: none;
  }
}

// Static, non editable blocks
@mixin stat-title() {
  font-weight: bold;
  font-size: 0.8rem;
  @media screen and (min-width: $size-small-tablet) {
    font-size: 0.9rem;
  }
  @media screen and (min-width: $size-tablet) {
    font-size: 1rem;
  }
}
@mixin stat-display() {
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: $black;
  margin: 0;
  border: none;
  font-size: 1.3rem;
  @media screen and (min-width: $size-small-tablet) {
    font-size: 1.4rem;
  }
  @media screen and (min-width: $size-tablet) {
    font-size: 1.8rem;
  }
}
@mixin stat-unit() {
  font-weight: bold;
  font-size: 0.5rem;
  @media screen and (min-width: $size-small-tablet) {
    font-size: 0.6rem;
  }
  @media screen and (min-width: $size-tablet) {
    font-size: 0.8rem;
  }
}

@mixin full-stat-block() {
  // Full block that include everything for a static, non-editable blocks
  display: block;
  width: 100%;
  height: 100%;

  .stat-title {
    @include stat-title();
  }
  .stat-display {
    @include stat-display();
  }
  .stat-display-unit {
    @include stat-unit();
  }
}

// User-editable blocks, based on statics blocks above
@mixin input-title() {
  @include stat-title();
  position: absolute;
  top: 5px;
  left: 10px;
  font-style: italic;
}
@mixin input-display() {
  @include stat-display();
  display: block;
  border-radius: $border-radius;
  border: 3px solid transparent;
  background-color: $input-bg;
  line-height: 0;
  font-style: italic;
  outline: none;
  padding: 9px 12px 0px 7px;
  font-size: 1.7rem;
  @media screen and (min-width: $size-small-tablet) {
    font-size: 1.8rem;
    padding: 17px 15px 3px 10px;
  }
  @media screen and (min-width: $size-tablet) {
    font-size: 2.5rem;
  }
  &:focus,
  &:hover {
    caret-color: $brand-color2;
    border: $input-focus-border;
  }
}

@mixin input-unit() {
  @include stat-unit();
  font-style: italic;
  position: absolute;
  margin: 0;
  bottom: 3px;
  right: 10px;
}

@mixin full-input-block() {
  // Full block that includes everything for user-editable blocks
  position: relative;
  height: 60px;
  @media screen and (min-width: $size-small-tablet) {
    height: 70px;
  }
  @media screen and (min-width: $size-tablet) {
    height: 90px;
  }
  .input-title {
    @include input-title();
  }
  .input-display {
    @include input-display();
  }
  .input-display-unit {
    @include input-unit();
  }
}
