// Colors
$black: #232e38;
$white: white;
$brand-color1: #0abc87;
$brand-color3: #0a9bdf;
$brand-color2: #ff5e00;
$input-bg: rgb(203 227 228);
$card-bg: rgb(255 255 255 / 95%);

// Other
$border-radius-md: 10px;
$border-radius-lg: 15px;
$input-focus-border: 3px solid $brand-color2;
$navheight: 54px;

// Spacing
$gutter-xs: 4px;
$gutter-sm: 8px;
$gutter-md: 12px;
$gutter-lg: 16px;
$gutter-xl: 24px;

// Media queries
$size-small-tablet: 500px;
$size-tablet: 750px;
$size-desktop: 1000px;
