// Colors
$black: #2c3e50;
$accent-color: rgb(0, 0, 0);
$main-color: rgb(213, 228, 131);
$headline-color: $accent-color;
$input-bg: rgb(203, 227, 228);
$white: white;
$card-bg: rgba(255, 255, 255, 0.9);

// Measurements
$card-gap: 1.5rem;

// Media queries
$size-tablet: 650px;
$size-desktop: 1200px;
