// Colors
$black: #232e38;
$accent-color: #ff5e00;
$main-color: #0a9bdf;
$input-bg: rgb(203, 227, 228);
$white: white;
$card-bg: rgba(255, 255, 255, 0.95);

// Other
$border-radius: 15px;
$input-focus-border: 3px solid $accent-color;
$grid-gap: 1.5rem;
$navheight: 44px;

// Media queries
$size-tablet: 650px;
$size-desktop: 1200px;
